body {
  font-family: 'Barlow Condensed', sans-serif;
  background: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h3 {
  margin-left: 30px;
}

header ul {
  display: flex;
  gap: 30px;
  margin-right: 50px;
  list-style: none;
  text-decoration: underline;
}

.body {
  margin-bottom: 20px;
}

.body h4 {
  margin-left: 30px;
  margin-top: 40px;
}
{
.body button {
  margin-left: 26px;
  border-radius: 12px;
  color: ;
  background-color: #B1FF95;
  border: 1px solid white;
  width: 80px;
  height: 30px;
  font-size: 12px;
}

.body img{
  position: relative;
  float: right;
  width: 140px;
  
}

.body button a {
  text-decoration: none;
  color: black;
}

.admin h3{
  text-align: center;
  margin-top: 100px;
}

.an{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 400px;
  background-color: #b1ff95;
  display: flex;
}

.an img{
  border: 5px solid white;
  border-radius: 5;
}




